<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <appSettings>
      <add key="CompileMaxThread" value="2"/>
      <add key="UploadMaxThread" value="3"/>
      <add key="NeoSpeechEmail" value="gareth@propertytube.com"/>
      <add key="NeoSpeechAccountId" value="3672db6e5a"/>
      <add key="NeoSpeechLoginKey" value="ConvertIt"/>
      <add key="NeoSpeechLoginPwd" value="ff1adba6af46758e1cda"/>
    </appSettings>
</configuration>