<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateIt.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <applicationSettings>
        <CreateIt.My.MySettings>
            <setting name="CreateIt_neoSpeech_NeoSpeechTtsSoapService" serializeAs="String">
                <value>https://tts.neospeech.com/soap_1_1.php</value>
            </setting>
        </CreateIt.My.MySettings>
    </applicationSettings>
</configuration>